<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="MAX_WORD_LENGTH" value="15"/>
    <add key="MAX_ANIMATION_FRAMES" value="25"/>
    <add key="MAX_SHAKE_PIXELS" value="20"/>
    <add key="MAX_SHAKE_COUNT" value="13"/>
    <add key="THREAD_SLEEP" value="10"/>
    <add key="MAX_FAIL_COUNT" value="6"/>
  </appSettings>
</configuration>
